body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.top-nav {
    background-color: #f4f4f4;
    padding: 10px 0;
}

.top-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.top-nav ul li {
    margin: 0 15px;
}

.top-nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.sidebar {
    flex: 0 0 250px;
    padding-right: 20px;
}


.profile-photo {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

.contact-info {
    list-style-type: none;
    padding: 0;
}

.contact-info li {
    margin-bottom: 10px;
}


.content {
    flex: 1; /* Allows text to take up available space */
    text-align: justify; /* Justifies the text within the content */
}

.overview {
    margin-bottom: 2rem;
    font-size: 1rem;
    text-align: left;
}

/* Research Theme Styles */
.research-theme {
    margin-bottom: 3rem;
    text-align: left;
}

.research-theme h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.research-theme p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    line-height: 1.6;
}

/* Layout for the figures in a theme */
.theme-figures {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.theme-figures .figure img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

/* Zoom effect */
.zoomable {
    transition: transform 0.3s;
}

.zoomable:active {
    transform: scale(1.5);
    z-index: 10;
    position: relative;
}



a {
    color: #1a73e8;
}

a:hover {
    text-decoration: underline;
}
